body{
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    display: flex;
   
}
h1{
    color: #7c7c7c2b;
    font-size: 44px;
    display: flex;
}
.inputs{
    width: 100%;
    max-width: 470px;
    height: 100vh;
    max-height: 250px;
    background-color: #7c7c7c2c;
    padding: 9px;
    margin-top: 17px;
}
input{
    padding: 9px;
    margin: 5px;
    outline: none;
    border: none;
    display:inline;
    height: 29px;
    background-color: #7c7c7c2c;
    color: white;
    border-radius: 3px;
}
button{
    outline: none;
    border: none;  
    background-color: #7c7c7c2c;
    color: white;  
    padding: 9px;
    margin: 5px;
    border-radius: 3px;
    height: 29px;
}
h1{
    margin-left: 70px;
}
